<h3>Edit Comment</h3>

<%= form_with(model: [@task, @comment], local: true) do |f| %>
  <div class="mb-2">
    <%= f.text_area :content %>
  </div>

  <hr>

  <div class="mt-2">
    <%= f.submit "Update Comment", class: "btn btn-primary w-100 text-nowrap mb-2" %>
    <%= link_to "Back to Task", @task, class: "btn btn-primary w-100 text-nowrap" %>
  </div>
<% end %>
