<div id="results">
  <h3>
    Open Tasks
  </h3>
  <%= render "open_tasks", tasks: tasks %>

  <h3>
    Completed Tasks
  </h3>
  <%= render "completed_tasks", completed_tasks: completed_tasks %>
</div>
