    <section class="content" data-controller="search">

        <h1>All Tasks</h1>

          <input type="text" id="search" placeholder="Search..."
          data-action="input->search#filterTasks"/>

        <%= form_with url: all_tasks_path, method: :get, local: true do %>
          <%= select_tag :username,
              options_for_select(
                  [
                    ["All Users", ""]
                  ] + User.order(:username).map { |u| ["#{u.name} (#{u.username})", u.username] },
                params[:username]
              ),
              onchange: 'this.form.submit();',
              class: "form-select mb-4" %>
        <% end %>

      <%= render "tasks", tasks: @open_tasks, completed_tasks: @completed_tasks %>

      <h3 class="d-none mt-2 text-red" id="no-results">No results</h3>
    </section>
