<h1>Editing user</h1>

<%= render "form", user: @user %>

<br>

<div>
  <%= link_to "Show this user", @user %>
  <%= button_to "Delete User",
      user_path(@user),
      method: :delete,
            data: { turbo_confirm: "Delete #{@user.name}? This will permanently remove #{pluralize(@user.tasks.count, 'task')} and #{pluralize(@user.comments.count, 'comment')}." }%>
</div>
